[Desktop Entry]
Icon=text-html
Name=Google APP
Type=Link
URL[$e]=https://myaccount.google.com/apppasswords?pli=1&rapt=AEjHL4OPnAgBI2a_9B-KK-nyxNKXdoKDxoxgQM4qLUSasypoBWTNES641Sam7CmXT4BfrLthhOHzCd07FdO6mvZSGDTrbaX_QA
