/**
 * src/styles/settings.scss
 *
 * Configures SASS variables and Vuetify overwrites
 */

// https://next.vuetifyjs.com/features/sass-variables/`
// @use 'vuetify' with (
//   $color-pack: false
// );

.drawer-link {
  text-decoration: none;
  color: inherit;
}

.drawer-link:hover {
  text-decoration: none;
  color: rgb(var(--v-theme-primary));
}